# Dependencies
/node_modules/

# Temp folders
/temp_processing/

# System Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Raw assets / testing files
giralabs_banner.png
test_out.*
*.log